:root {
  --items-background-color: #ffffff;
}

.btn {

}

.btn-social {
  height: 62px;
  margin: 1rem 0;
  background-color: var(--items-background-color,#fff);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.btn-social > svg {
  position: absolute;
  left: 1rem;
}